
/* Hero section */

#aboutHero {
	background: url('../assets/about-hero.jpg') no-repeat fixed;
	background-size: cover;
  	height: 90vh;
}


/* Intro & What I Do */

#intro {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 100px);
  	background-color: white;
}

.whatIDo {
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 2em;
}

#intro div:first-child {
	margin-left: 6em;
}

#intro div:last-child {
	margin-right: 6em;
}

.whatIDo i {
    display: inline-block;
    border-radius: 60px;
    background-color: #F32773;
    padding: 0.5em;
    color: #fff;
    margin-bottom: 16px;
}

.whatIDo h3, .whatIDo h5 {
	color: #333;
}

.whatIDo h3 {
	font-weight: 400;
}

/* About text */

#about {
	height: 50vh;
	background-color: #212b52;
	color: white;
}

#aboutText {
	padding: 4em 10em;
}

#aboutText h3 {
	font-weight: 400;
}


/* Experience Section */

#experience {
	background-color: white;
	display: flex;
	flex-direction: column;
}

#experience h2, #experience h4, #experience h5 {
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
}

#experience h2 {
	font-weight: 600;
}

.experiencePosition {
	width: 100%;
	margin: 4em 6em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.experiencePosition:nth-child(odd) {
	flex-direction: row-reverse;
	text-align: right;
}

#experience div:nth-of-type(2) {
	margin: 4em -15em;
}

#experience h4 {
	display: inline-block;
}

#experiencePosition.date {
	width: 18%;
	text-align: right;
}

.more-info h4 {
	width: 100%;
}

.more-info {
	margin-left: 3em;
	width: 26%;
}

.opposite-day {
	margin-right: 5em;
}

#verticalLine {
  border-left: thick solid red;
  height: 100%;
  left: 46.5vw;
  position: absolute;
  z-index: 99;
}

/* Education section */

#education {
	display: flex;
	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-around;
  	background-color: #36cad5;
}

.education-section {
	flex-direction: column;
	margin: 4em 2em;
}

#education h2, #education h4 {
	text-transform: uppercase;
	font-weight: 400;
}

#education h2 {
	font-weight: 600;
}

#education h4 {
	display: inline-block;
}

#education p {
	color: white;
	font-style: italic;
	margin-left: 5em;
}

.date {
	margin-right: 1.5em;
}

#education .certifications {
	display: block;
}

#education .school {
	display: block;
}