#aboutHero {
	background: url('../assets/bg.jpg');
	background-size: cover;
	background-position: fixed;
  	height: 90vh;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

#intro {
	display: flex;
	flex-wrap: wrap;
  	flex-direction: row;
}

.whatIDo {
	justify-content: center;
	flex-direction: column;
	width: 33.33333%;
	height: 50vh;
}

.whatIDo i {
    display: inline-block;
    border-radius: 60px;
    background-color: #F32773;
    padding: 0.5em;
    margin-right: 25px;
    color: #fff;
}