
/* Universal styles */
body {
	margin: 0px;
	font-family: "lato", Helvetica, sans-serif;
	font-size: 16px;
}

p {
 	font-size: 1em;
 	color: #333;
}

h1 {
 	font-size: 76px;
 	font-weight: bold;
 	color: #fff;
}

h2 {
 	font-size: 36px;
 	font-weight: bold;
 	color: #fff;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 18px;
}

a:link, a:visited {
	text-decoration: none;
	color: #fff;
}

a:hover {
 	font-weight: normal;
 	text-decoration: underline;
 	color: #f32773;
 }

a:active {
 	font-weight: normal;
 	text-decoration: none;
 	color: #ffffff;
 }

 li {
 	list-style: none;
 }

/* Hero styles */

#hero {
	background: url('../assets/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
  	height: 90vh;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

/*Header styles*/

#header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex: 1 1 0%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #212b52;
}

.logo img {
	width: 50px;
	margin: 1.25em;
}

.logo {
	flex: 1 0 70%;
}

.main-nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;

}


.main-nav li {
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

.main-nav li:nth-child(2) {
	flex: 1 0 5%;
}

.main-nav li:nth-child(3) {
	flex: 1 0 5%;
}

.main-nav li:nth-child(4) {
	flex: 1 0 5%;
}

.main-nav a:hover {
	font-weight: 600;
}


/* Project & portfolio styles */


.mainProject:nth-child(1) {
	background-color: #555;
	height: 50vh;
}

.mainProject:nth-child(2) {
	background-color: #666;
	height: 50vh;
}

#secondaryProjects {
	display: flex;
	flex-wrap: wrap;
  	flex-direction: row;
}

.gridProjects {
	justify-content: center;
	flex-direction: column;
	width: 50%;
	height: 50vh;
}

.gridProjects:nth-child(1) {
	background-color: #333;
}

.gridProjects:nth-child(2) {
	background-color: #777;
}

.gridProjects:nth-child(3) {
	background-color: #888;
}

.gridProjects:nth-child(4) {
	background-color: #999;
}

/* Contact styles */

#contact {
	height: 50vh;
	background-color: #555;
	margin-top: 25vh;
}
